html {
    padding: 0;
    margin: 0;
    height: 100%; 
}
 
body {
    padding: 0;
    margin: 0;
    height: 100%; 
    background: #e6e6e6;
}
 

div#messageBox {
 color: white;
 position: absolute; /* Keep this out of the page flow. */
 left: 1em;
}
 
div#liquidTopMargin {
 height: 1%; /* Provides a small liquid margin between the top of the browser window and the SVG viewport. */
}   


svg{
  float: left;
}
#control-panel{
  float: right;
  width: 20%;
  height: 100%;
}
